@charset "UTF-8";

body{
    background-color: #FFFFFF;
}
 
header.principal2{
    background-image: linear-gradient(to bottom, #0B5D1E, #139b33 ) ;
    
    padding: 40px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
    
    
    
}

h1.principal{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

menu > a{
    
    

}

article.principal{
    padding-top: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, #139b33, #0B5D1E) ;
    padding: 40px;
    color: white;
}

article > p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}