@charset "UTF-8";

body{
    background-color: #FFFFFF;
}
 
header.principal{
    background-color:#0B5D1E ;
    text-align: center;
    padding: 40px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
    
    
    
}

h1.principal{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

nav.principal{
    padding-bottom: 10px;
    background-image:linear-gradient(to left, #0f912d,#F5C400 ) ;
    margin-top: 10px;

}

article.principal{
    padding-top: 10px;
    text-align: center;
    background-color:#0B5D1E ;
    padding: 40px;
    color: white;
}

article > p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}