@charset "UTF-8";

body{
    background-color: #FFFFFF;
}
 
header.principal2{
    background-image: linear-gradient(to bottom, #0B5D1E, #139b33 ) ;
    
    padding: 20px;
    padding-bottom: 10px;
    
}

h1.principal{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

menu > a{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;

}

section.imagem{
    inset: 6px 6px 13px 0px rgba(0, 0, 0, 0.521);
    background-attachment: fixed;
}

section.imagem > p{
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    text-align: left;
    color: white;
    
}

section{
    display: inline-block;
    padding: 250px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.267);
}

section#img01{
    background-image:url(../imagens/Torcida-do-Botafogo-comemora-o-titulo-do-Brasileirao.webp) ;
    background-position:  center, right ;
    background-repeat: no-repeat;
    background-size: cover;

}

article.principal{
    padding-top: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, #139b33, #0B5D1E) ;
    padding: 40px;
    color: white;
}

article > p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    text-shadow: 1px 1px 0px black;;
}

article#img02{
    background-size: cover;
}